.userMessage {
    padding-top: 10px;
    padding-left: 10px;
    size: 0px;

}

.titleBar {
    text-align: center;
} 


h2 {
    padding-top: 2%;
    size: 22px;
    color: #FB6A59;
}

.searchInput {
    padding: 2%;
    width : 50%;
    height: 3%;
    float: left;
    margin-left: 20%;
}

.searchBar{
    text-align: center;
    width: 100%;
    background-color: #8133FF;
    padding-bottom: 3%;
}

.homeSearchButton {
    float: left;
    padding-top: 1.5%;
}

.suggestions {
    margin-left: 22%;
}

.suggestion {
    border-bottom: solid 1px;
}

.suggestion:hover{
    background-color: gainsboro;
}

.queryItem {
    border-radius: 10px;
    width: 40%;
    height: 3%;
    padding: 1%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.addressLink:hover{
    color: white;
    opacity: 0.8;
    transition: 0.5s;
}

.addressLink{
    padding: 4%;
    size: 30px;
    color: white;
    border-radius: 10px;
    background-color: #FB6A59;
}

.displayMessage{
    text-align: center;
    color: red;
    size: 16px;
}

