#signupCreds {
    width: 30%;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-top: 10%;
}

.signupContainer {
    text-align: center;
}

.signupButton{
    color: #338BFF;
}

.signupMessage{
    color: red;
    size: 15px;
}