.resetPwdInfo{
    margin-left: 4%;
    margin-top: 2%;
}

.passwordField{
    width: 35%;
    margin-left: 5%;
}

.resetPwdButton{
    margin-left: 5%
}

.resetPwdMsg{
    margin-left: 5%;
    size: 15px;
    color: red;
}